.container {
    display: grid;
    /* height: 100vw; */
    grid-template-columns: 0.5fr 1.5fr 1.5fr 0.5fr;
    grid-template-rows: auto;
    grid-template-areas: 
      "header header header header"
      "home home home home"
      "aside main main main"
      "aside main main main"
      "aside main main main"
      "footer footer footer footer";
      grid-gap: 0.2rem;
    }
.main {
    grid-area: main;
    /* border-radius: var(--main-radius); */
    padding-top: var(--main-padding);
  }
  .header {
    grid-area: header;
    /* border-radius: var(--main-radius); */
    padding-top: var(--main-padding);
    background-color: var(--clr-BlueSky);
  }
  .aside {
    grid-area: aside;
    /* border-radius: var(--main-radius); */
    padding-top: var(--main-padding);
    width: 300px;
    background-color: var(--clr-MidnightBlue);
  }
  .footer {
    grid-area: footer;
    /* border-radius: var(--main-radius); */
    padding-top: var(--main-padding);
    background-color: var(--clr-BlueSky);
  }
  .home__container {
    display: grid;
    /* height: 100vw; */
    grid-template-columns: 0.5fr 1.5fr 1.5fr 0.5fr;
    grid-template-rows: auto;
    grid-template-areas: 
      "header header header header"
      "hero__container hero__container hero__container hero__container"
      "home home home home"
      "main main main main"
      "main main main main"
      "footer footer footer footer";
      grid-gap: 0.2rem;
    }
    .hero__container {
      grid-area: hero__container;
      border-radius: var(--main-radius);
      padding-top: var(--main-padding);
    }
    .schedule__container {
      display: grid;
      /* height: 100vw; */
      grid-template-columns: 0.5fr 1.5fr 1.5fr 0.5fr;
      grid-template-rows: auto;
      grid-template-areas: 
        "header header header header"
        "main main main main"
        "footer footer footer footer";
        grid-gap: 0.2rem;
      }
      .consultation__container {
        grid-area: consultation__container;
        border-radius: var(--main-radius);
        padding-top: var(--main-padding);
      }
      .faqs__container {
        display: grid;
        /* height: 100vw; */
        grid-template-columns: 0.5fr 1.5fr 1.5fr 0.5fr;
        grid-template-rows: auto;
        grid-template-areas: 
          "header header header header"
          "main main main main"
          "footer footer footer footer";
          grid-gap: 0.2rem;
        }
        .faqs__img-container {
          grid-area: about__img-container;
          border-radius: var(--main-radius);
          padding-top: var(--main-padding);
        }
      .about__container {
        display: grid;
        /* height: 100vw; */
        grid-template-columns: 0.5fr 1.5fr 1.5fr 0.5fr;
        grid-template-rows: auto;
        grid-template-areas: 
          "header header header header"
          "main main main main"
          "footer footer footer footer";
          grid-gap: 0.2rem;
        }
  @media only screen and (max-width:720px) {
    .container {
        grid-template-columns: 1fr;
        grid-template-rows: auto;
        grid-template-areas: 
          "header"
          "aside"
          "main"
          "footer";
      }   
  }