.about {
    grid-area: about;
}
.about__empty {
    grid-area: about__empty;
    height: 10rem;
}
.about__img-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;
    grid-template-areas: 
    "about__empty about__empty "
    "about__title-container about__info-container"
    "about about";
}
.about__title-container {
    position: relative;
    width: 100%;
}
.about__title {
    font-size: 48px;
    font-weight: bold;
    text-transform: capitalize;
    text-align: center;
    color: var(--clr-Dimgray);
    padding-left: 3rem;
    padding-bottom: 3rem;
}
.about__info-container {
    grid-area: about__info-container;
    font-size: 18px;
    color: var(--clr-Dimgray);
    padding-right: 3rem;
    padding-bottom: 3rem;
}
.about__title-container {
    grid-area: about__title-container;
}