.faqs {
    grid-area: faqs;
}
.faqs__empty {
    grid-area: faqs__empty;
    height: 10rem;
}
.faqs__img-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;
    grid-template-areas: 
    "faqs__empty faqs__empty"
    "faqs__title faqs";
}
.faqs__title-container {
    position: relative;
    width: 100%;
    background-color: var(--clr-MidnightBlue);
}
.faqs__title {
    position: absolute;
    top: 40%;
    left: 40%;
    font-size: 48px;
    font-weight: bold;
    color: aliceblue;
}
.accordion-body {
    color: var(--clr-Dimgray);
    font-size: 18px;
}
.accordian-text {
    color: var(--clr-Dimgray);
    font-size: 18px;
    font-weight: bold;
}