.main {
    justify-content: center;
    padding: 5rem;
    padding-left: 25rem;
    padding-top: 10rem;
}
.home__main {
    justify-content: center;
    padding: 5rem;
}
.consultation__main {
    justify-content: center;
    padding: 5rem;
}
.faqs__main {
    justify-content: center;
    padding: 5rem;
}
.about__main {
    justify-content: center;
    padding: 5rem;
}
