:root {
  /* primary colors */
  --clr-MidnightBlue: #003B6D;
  --clr-BlueSky: #6699CC;
  
  /* secondary colors */
  --clr-Dimgray: #676767;
  --clr-Silver: #BDBDBD;  

  /* sizes */
  --size-xxs: 0.5rem;
  --size-xs: 0.75rem;
  --size-sm: 0.875rem;
  --size-base: 1rem;
  --size-lg: 1.125rem;
  --size-xl: 1.25rem;
  --size-2xl: 1.50rem;
  --size-3xl: 1.875rem;
  --size-4xl: 2.25rem;
  --size-5xl: 3rem;
  --size-6xl: 3.75rem;
  --size-7xl: 4.5rem;
  --size-8xl: 6rem;
  --size-9xl: 8rem;
  --size-10xl: 10rem;

  /* border style */
  --main-radius: 10px;
  --main-padding: 0.5rem;
}

* {
  margin: 0%;
  line-height: calc(1em + 0.5rem);
}
/* body {
  font-family: Arial, Helvetica, sans-serif;
  z-index: 0;
  padding-left: 10rem;
} */
img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
  user-select: none;
}
p {
  font-size: var(--size-base);
  color: var(--clr-Dimgray);
}
h2 {
  text-transform: capitalize;
  color: var(--clr-Silver);
  padding-top: 3rem;
}
h5 {
  text-transform: capitalize;
}
a:link {
  color: var(--clr-MidnightBlue);
} 
a:visited {
  color: var(--clr-MidnightBlue);
  }    
.bullet__list {
  color: var(--clr-Dimgray);
}
.right__img {
  float: right;
  padding: 2rem;
  width: 50%;
  height: 50%;
}
.left__img {
  float: left;
  padding: 2rem;
  width: 50%;
  height: 50%;
}
section {
  padding-top: 3rem;
}
.header {
  z-index: 2;
}
.aside {
  z-index: 1;
}
.hero {
  background-image: url("../assets/image4.jpg");
  background-repeat: no-repeat;
  width: 100%;
  height: 500px;
  padding-top: 10rem;
}
.consultation {
  position: relative;
  background-image: url("../assets/image22.jpg");
  background-repeat: no-repeat;
  width: 100%;
  height: 700px;
  padding-top: 10rem;
  margin-top: 2rem;
}
.faqs {
  position: relative;
  background-image: url("../assets/image23.jpg");
  background-repeat: no-repeat;
  width: 100%;
  height: 400px;
  padding-top: 10rem;
}
.about {
  position: relative;
  background-image: url("../assets/image1.png");
  background-repeat: no-repeat;
  background-color: var(--clr-Silver);
  width: 1200px;
  height: 400px;
  padding-top: 10rem;
}