.header {
    position: fixed;
    display: flex;
    width: 98.4%;
}
.header__logo {
    width: 100px;
    height: 100px;
    margin: 0;
    padding: 0.25rem;

}
.header__menu {
    width: 1400px;
    text-transform: capitalize;
    font-size: var(--size-xl);
}
