.consultation {
    grid-area: consultation;
}
.consultation__empty {
    grid-area: consultation__empty;
    height: 10rem;
}
.consultation__form {
    grid-area: consultation__form;
    padding: 2rem;
    color: var(--clr-Dimgray);
}
.consultation__container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;
    grid-template-areas: 
    "consultation__empty consultation__empty"
    "consultation__form consultation";
}
.consultation__text {
    position: absolute;
    top: 5%;
    right: 23%;
    color: aliceblue;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 18px;
    font-weight: bold;
    text-transform: capitalize;
}
.consultation__instructions {
    padding: 2rem;
    margin-bottom: 1rem;
    background-color: var(--clr-MidnightBlue);
    color: var(--clr-Silver);
    font-size: 18px;
}
